<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/errors.css">
    
</head>
<body>
    <div class='container'>
      <div class='errors__container'>
        <div class='errors'>
          <h1>Error: <%= error %></h1>
          <h2><%= detailedError %></h2>
          <p>
            You may want to head back to the homepage.
          </p>
          <a href="http://localhost:3000/">
              <span class='backbutton' >Return home</span>
          </a>
        </div>
      </div>
    </div>
    <div class='bg-img'></div>
</body>
</html>

